# This file is used to set environment variables for the Makefile to quickly install/uninstall the addon during development.
# You can copy this file to .env.local and edit the values there. The .env.local file is ignored by git, so it won't be committed to the repository.
WOW_PATH=C:\Games\World of Warcraft
WOW_VERSION=anniversary
